<form method="post" action="{{ path('app_estimate_delete', {'id': estimate.id}) }}" onsubmit="return confirm('Êtes-vous sûr de vouloir supprimer cet élément ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ estimate.id) }}">
    <button class="flex justify-end items-center gap-x-2 text-sm font-semibold text-white bg-red-600 hover:bg-red-700 rounded-lg px-3 py-2">Supprimer</button>
</form>
</form>